# Porta em que a API Node vai correr DENTRO do contentor
PORT=5200

# Chave secreta para assinar os JSON Web Tokens (JWT)
# Use um gerador de string aleatória forte para produção
JWT_SECRET=MINHACHAVESECRETAULTRASEGURA123
